<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
</head>
<body>
	  <nav>
      <a href="/items">Item list</a> •
      <a href="/items/add">Add Items
  </nav>
  
  <h1 id="app-name">Awesome Site!</h1> 

	<%= yield %>

</body>
</html>